### u1421126
** Pandas - DataFrames **

In [60]:
import pandas as pd
import numpy as np

In [61]:
from numpy.random import randn
np.random.seed(101)
randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [62]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [63]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

** Selection and Indexing **

In [64]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

** Creating new column: **

In [65]:
df['new_coloumn'] = df['W'] + df['Y']

In [66]:
df

          W         X         Y         Z  new_coloumn
A  0.302665  1.693723 -1.706086 -1.159119    -1.403420
B -0.134841  0.390528  0.166905  0.184502     0.032064
C  0.807706  0.072960  0.638787  0.329646     1.446493
D -0.497104 -0.754070 -0.943406  0.484752    -1.440510
E -0.116773  1.901755  0.238127  1.996652     0.121354

** Droping Columns **

In [67]:
df.drop('new_coloumn',axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

** Selection of Rows **

In [68]:
df.loc['A']

W              0.302665
X              1.693723
Y             -1.706086
Z             -1.159119
new_coloumn   -1.403420
Name: A, dtype: float64

In [69]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

** Conditional Selection **

In [70]:
df[df>0]

          W         X         Y         Z  new_coloumn
A  0.302665  1.693723       NaN       NaN          NaN
B       NaN  0.390528  0.166905  0.184502     0.032064
C  0.807706  0.072960  0.638787  0.329646     1.446493
D       NaN       NaN       NaN  0.484752          NaN
E       NaN  1.901755  0.238127  1.996652     0.121354

In [71]:
df[df['W']>0]

          W         X         Y         Z  new_coloumn
A  0.302665  1.693723 -1.706086 -1.159119    -1.403420
C  0.807706  0.072960  0.638787  0.329646     1.446493

In [72]:
df[(df['W']>0) & (df['Y'] < 1)]

          W         X         Y         Z  new_coloumn
A  0.302665  1.693723 -1.706086 -1.159119    -1.403420
C  0.807706  0.072960  0.638787  0.329646     1.446493

In [73]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

                  A         B
Group Num
G1    1   -0.993263  0.196800
      2   -1.136645  0.000366
      3    1.025984 -0.156598
G2    1   -0.031579  0.649826
      2    2.154846 -0.610259
      3   -0.755325 -0.346419

In [74]:
df.loc['G1'].loc[1]

A   -0.993263
B    0.196800
Name: 1, dtype: float64

In [75]:
df.index.names

FrozenList(['Group', 'Num'])